<div class="jumbotron">
    <h1>JMF: Web API SQL Server View</h1>
    <p class="lead">Web API rodando no Azure App Service e acessando SQL Server apenas para consultas.</p>
    <p><a href="https://jmfwebupdt2021.azurewebsites.net/" class="btn btn-primary btn-lg">Parte 2 (atualizações) &raquo;</a></p>

</div>
<div class="row">
    <h2>API apenas de consulta</h2>
    <p>Esta API tem acesso apenas de consulta a algumas informações da Base de Dados. A ideia é que essa seja uma API pública, de acesso fácil.</p>
    <p>Uma outra API tem acesso de criação, atualização e remoção de registros.</p>
    <p><a class="btn btn-default" href="https://github.com/JimKirk95/JMFWebAppUpdtDemo.git">Projeto no Github &raquo;</a></p>
</div>